<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="gr.eworx.defaultStoragePath" version="0.0.1">

    <name>DefaultStoragePath</name>
    
    <description>iOS AVAudioSession adapter</description>
    
    <license>Apache 2.0</license>
    
    <keywords>cordova,ios,storage,path</keywords>
    
    <js-module src="www/defaultStoragePath.js" name="DefaultStoragePath">
        <clobbers target="window.DefaultStoragePath" />
    </js-module>
    
    <platform name="android">
    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DefaultStoragePath" >
                <param name="android-package" value="gr.eworx.storage.DefaultStoragePath"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/DefaultStoragePath.java" target-dir="src/gr/eworx/storage" />
    
    </platform>
    
    <!--
    
    <platform name="ios">
    
        <config-file target="config.xml" parent="/*">
            <feature name="DefaultStoragePath">
                <param name="ios-package" value="DefaultStoragePath"/>
            </feature>
        </config-file>
    
        <header-file src="src/ios/DefaultStoragePath.h" />
    
        <source-file src="src/ios/DefaultStoragePath.m" />
        
    </platform>
    
    -->
    
</plugin>
